{% extends "base.html" %}
{% block content %}
{% load static %}
{% csrf_token %}
<div class="container_password">
    <div class="content_password">
        <form method="post" action="{% url 'change_password' %}" id="changeForm" data-url="{% url 'user_login' %}">
            <div class="tips">修改密码</div>
            <div class="password">当前密码：</div>
            <input type="password" class="old_password" id="old_password" name="old_password">
            <div class="password">新密码：</div>
            <input type="password" class="new_password1" id="new_password1" name="new_password1">
            <div class="password">确认新密码：</div>
            <input type="password" class="new_password2" id="new_password2" name="new_password2">
            <input type="submit" class="change_password" value="修改密码">
        </form>
    </div>
<!--</div>-->
<script>
    document.addEventListener("keydown",function(e){
        if(e.keyCode == "13"){
            e.preventDefault();
            change_password();
        }
    });

    const changeForm=document.getElementById("changeForm");
    changeForm.addEventListener("submit",function(e){
        e.preventDefault();
        change_password();
    });
    function change_password(){
        const old_password=document.getElementById("old_password")?.value;
        const new_password1=document.getElementById("new_password1")?.value;
        const new_password2=document.getElementById("new_password2")?.value;
        if(!old_password){
            Swal.fire("error","请输入当前密码","error");
            return;
        };
        if(!new_password1){
            Swal.fire("error","请输入新密码","error");
            return;
        };
        if(!new_password2){
            Swal.fire("error","请输入确认新密码","error");
            return;
        };
        if(new_password1!=new_password2){
            Swal.fire("error","新密码和确认密码不一致","error");
            return;
        }
        const formData=new FormData(changeForm);
        const url=changeForm.getAttribute("action");
        const csrf_token=document.querySelector("input[name='csrfmiddlewaretoken']")?.value;
        fetch(url,{
            method:"POST",
            headers:{
                "X-Requested-With":"XMLHttpRequest",
                "X-CSRFToken":csrf_token,
            },
            body:formData,
        }).then(response=>response.json())
        .then(data=>{
            if(data.status==="success"){
                Swal.fire({
                    icon:"success",
                    text:data.message+"即将返回登录页面",
                    timer:1500,
                    didClose:()=>{
                        window.location.href=changeForm.dataset.url;
                    },
                });
            }else{
                const errors=JSON.parse(data.message);
                let errormessage="";
                for(const field in errors){
                    if(errors.hasOwnProperty(field)){
                        errors[field].forEach(error=>{
                            errormessage+=`<li style="color:red;text-align:left;margin-left:20px;">${error.message}</li>`
                        })
                    }
                };
                throw new Error(errormessage);
            }
        })
        .catch(error=>{
            Swal.fire("error",error.message,"error");
        })
    };
</script>
{% endblock %}