/*全局标签样式*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Microsoft Yahei",sans-serif;
}
/*页面基础样式*/
body{
    background-color:#F0F0F0;
    color:black;
}
/*内容样式*/
.container{
    display:block;
    background:white;
    width:330px;
    height:360px;
    margin:100px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px 2px #9DA3B8;
}
.title{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
    width:100%;
}
.select_id{
    color:#80878F;
    font-size:14px;
    margin-bottom:5px;
    width:100%;
}
.selected{
    width:100%;
    color:#80878F;
    font-size:14px;
    margin-bottom:5px;
}
.selected span{
    margin:0 5px;
}
.selected span input{
    margin-right:10px;
}
.form div{
    width:100%;
    color:#3E4043;
    font-size:14px;
}
.form .username,.form .password{
    width:100%;
    height:30px;
    border:1px solid #80878F;
    margin:5px 0;
    border-radius:5px;
    outline:none;
}
.form input:hover{
    box-shadow:0 0 5px 2px #9DA3B8;
}
.form .remember_password_text{
    font-size:12px;
    margin-top:5px;
    margin-bottom:10px;
}
.form .login{
    border:0px;
    border-radius:5px;
    outline:none;
    width:100%;
    height:40px;
    background:black;
    color:white;
    font-weight:bold;
    font-size:18px
}
.forget_password{
    margin-top:15px;
    width:100%;
    text-align:right;
    font-size:12px;
}
a{
    text-decoration:none;
    color:black;
}
a:hover{
    list-style:none;
    color:blue;
}